<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>i</title>
    <meta name="author" content="Nate Lalor">
    <meta name="description" content="nate's website">
    <link rel="stylesheet" href="../static/style.css">
    <script
        src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Square+Peg&display=swap" rel="stylesheet">
</head>
<body class="third_body">
    <img src="../static/scary_depths.png" alt="water levels" class="descending_background">
    <img src="../static/forgotten_note.png" alt="tattered note" class="note">
    <div class="a_lie" onclick="boat_found()">
        <img src="../static/boat.png" alt="boat" class="boat">
    </div>
    <div class="forgotten_note">

        <p>- Adam's fishing rod</p>

        <p>- snacks</p>

        <p>- </p>

        <p>- water bottle</p>

        <p>- Dad's hat</p>

    </div>

    <div class="sad_section">
        <p>- spare life jacket</p>

        <p>- fillet knife</p>
        <p>Remember what we practiced!!!</p>


<!--        <p class="signature">&#45;&#45;       . . ...   |̷̰̟͇͛̏|̶̨͖̤̝̙͓͗|̷̡̳͉̝͌͂͜p̶̩͉̙͓̜̋̓͐̕̚͜|̶̹̟̯̩̓͊̾͐͘|̴̜̫͗̀̍͘̚̕a̷͈̫̟͝ĩ̸̲̳̠̎̈́͜|̷̨̱̣̪́̿͂̋͑|̷͓̦̣͌s̴̨̠̤̱̈́͜|̸̨̝̔|̷̫̹̋|̸͓͓̰̳̽|̸̡̫̜̥͎͕̾̀̌̃|̸͙̰̬̥͋l̶͈̣̆|̶̭̬̗̾̌|̸͓̲̫̰͖͆ě̴̢̺̫͍̤̪͋̎̇|̷͇̻̖͐͆|̷̢͚͙̞͊͗̽̓̔͗|̸̙̩̈̆̈́̽̀͠|̸͉̼̤̼̝͖̀͐̉͠|̸̤͆̌|̷̩̜̤̈́̀̔|̷̨͇͙͎̗̮̐̿̅͑͂̚|̵̙̠̹̲͒̀̇̏͘͠</p>-->
    </div>
    <script src="../static/scripting.js"></script>
</body>
<!-- boat png found at: https://www.shutterstock.com/search/similar/1398173672 -->
<!-- note png found at: https://www.pinterest.com/pin/463096774183170722/ -->
</html>