<!DOCTYPE html>
<html>
    <head>
        <meta charset="UT-8">
        <title>p</title>
        <meta name="author" content="Nate Lalor">
        <meta name="description" content="begin to uncover.">
        <link rel="stylesheet" href="../static/style.css">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap" rel="stylesheet">

    </head>
    <nav>   
        
    </nav>

    <body class="body">
        <img src="../static/discover.png" alt="mysterious waters" class="index_background">
        <div class="size_1">
            <div class="index_button"><a href="st4rt.html">begin</a></div>
        </div>
    </body>
</html>    
