<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>s</title>
    <meta name="author" content="Nate Lalor">
    <meta name="description" content="nate's website">
    <link rel="stylesheet" href="../static/style.css">
    <script
        src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap" rel="stylesheet">

</head>
<body class="fourth_body">
    <div class="help_me">
<!--        <p>-->
<!--            I Am Standing Upon The Seashore-->
<!--        </p>-->
<!--        <p>-->
<!--            I am standing upon the seashore.-->
<!--            A ship at my side spreads her white-->
<!--            sails to the morning breeze and starts for the blue ocean.-->
<!--        </p>-->
<!--        <p>-->
<!--            She is an object of beauty and strength.-->
<!--            I stand and watch her until at length-->
<!--            she hangs like a speck of white cloud-->
<!--            just where the sea and sky come-->
<!--            to mingle with each other.-->
<!--        </p>-->
<!--        <p>-->
<!--            Then, someone at my side says;-->
<!--            “There, she is gone!”-->
<!--            “Gone where?”-->
<!--            Gone from my sight. That is all.-->
<!--            She is just as large in mast and hull-->
<!--            and spar as she was when she left my side-->
<!--            and she is just as able to bear her-->
<!--            load of living freight to her destined port.-->
<!--            Her diminished size is in me, not in her.-->
<!--        </p>-->
<!--        <p>-->
<!--            And just at the moment when someone-->
<!--            at my side says, “There, she is gone!”-->
<!--            There are other eyes watching her coming,-->
<!--            and other voices ready to take up the glad shout;-->
<!--            “Here she comes!”-->
<!--            And that is dying.-->
<!--        </p>-->
<!--        <p>-->
<!--            Henry Van Dyke-->
<!--        </p>-->
<!--        <br>-->
<!--        <p>-->
<!--            Leave-Taking-->
<!--        </p>-->
<!--        <p>-->
<!--            Let us know this for leavetaking,-->
<!--        </p>-->
<!--        <p>-->
<!--            That I may not be heavy upon you,-->
<!--        </p>-->
<!--        <p>-->
<!--            That you may blind me no more.-->
<!--        </p>-->
<!--        <p>-->
<!--            Louse Bogan-->
<!--        </p>-->
<!--        <br>-->
        <p>
            please you need to help me. please you need to help me.
        </p>
        <p>
            please you need to help me. please you need to help me.
        </p>
        <p>
            please you need to help me. please you need to help me.
        </p>
        <p>
            please you need to help me. please you need to help me.
        </p>
        <p>
            please you need to help me. please you need to help me.
        </p>
        <p>
            please you need to help me. please you need to help me.
        </p>
        <p>
            please you need to help me. please you need to help me.
        </p>
        <p>
            please you need to help me. please you need to help me.
        </p>
        <p>
            please you need to help me. please you need to help me.
        </p>
        <p>
            please you need to help me. please you need to help me.
        </p>
        <p>
            please you need to help me. please you need to help me.
        </p>
        <p>
            please you need to help me. please you need to help me.
        </p>
        <p>
            please you need to help me. please you need to help me.
        </p>
        <p>
            please you need to help me. please you need to help me.
        </p>
        <p>
            please you need to help me. please you need to help me.
        </p>
        <p>
            please you need to help me. please you need to help me.
        </p>
        <p>
            please you need to help me. please you need to help me.
        </p>
        <p>
            please you need to help me. please you need to help me.
        </p>
        <p>
            please you need to help me. please you need to help me.
        </p>
        <p>
            please you need to help me. please you need to help me.
        </p>
<!--        <p>-->
<!--            please you need to help me. please you need to help me.-->
<!--        </p>-->
<!--        <p>-->
<!--            please you need to help me. please you need to help me.-->
<!--        </p>-->
<!--        <p>-->
<!--            please you need to help me. please you need to help me.-->
<!--        </p>-->
<!--        <p>-->
<!--            please you need to help me. please you need to help me.-->
<!--        </p>-->
<!--        <p>-->
<!--            please you need to help me. please you need to help me.-->
<!--        </p>-->
<!--        <p>-->
<!--            please you need to help me. please you need to help me.-->
<!--        </p>-->
<!--        <p>-->
<!--            please you need to help me. please you need to help me.-->
<!--        </p>-->


    </div>
    <div class="its_too_late">
        <p>
            it's too late. it's too late. it's too late.
        </p>
        <p>
            it's too late. it's too late. it's too late.
        </p>
        <p>
            it's too late. it's too late. it's too late.
        </p>
        <p>
            it's too late. it's too late. it's too late.
        </p>
        <p>
            it's too late. it's too late. it's too late.
        </p>
        <p>
            it's too late. it's too late. it's too late.
        </p>
        <p>
            it's too late. it's too late. it's too late.
        </p>
        <p>
            it's too late. it's too late. it's too late.
        </p>
        <p>
            it's too late. it's too late. it's too late.
        </p>
        <p>
            it's too late. it's too late. it's too late.
        </p>
        <p>
            it's too late. it's too late. it's too late.
        </p>
        <p>
            it's too late. it's too late. it's too late.
        </p>
        <p>
            it's too late. it's too late. it's too late.
        </p>
        <p>
            it's too late. it's too late. it's too late.
        </p>
        <p>
            it's too late. it's too late. it's too late.
        </p>
        <p>
            it's too late. it's too late. it's too late.
        </p>
        <p>
            it's too late. it's too late. it's too late.
        </p>
        <p>
            it's too late. it's too late. it's too late.
        </p>
        <p>
            it's too late. it's too late. it's too late.
        </p>
        <p>
            it's too late. it's too late. it's too late.
        </p>
        <p>
            it's too late. it's too late. it's too late.
        </p>
<!--        <p>-->
<!--            it's too late. it's too late. it's too late.-->
<!--        </p>-->
<!--        <p>-->
<!--            it's too late. it's too late. it's too late.-->
<!--        </p>-->
<!--        <p>-->
<!--            it's too late. it's too late. it's too late.-->
<!--        </p>-->
<!--        <p>-->
<!--            it's too late. it's too late. it's too late.-->
<!--        </p>-->
<!--        <p>-->
<!--            it's too late. it's too late. it's too late.-->
<!--        </p>-->
<!--        <p>-->
<!--            it's too late. it's too late. it's too late.-->
<!--        </p>-->
<!--        <p>-->
<!--            it's too late. it's too late. it's too late.-->
<!--        </p>-->
<!--        <p>-->
<!--            it's too late. it's too late. it's too late.-->
<!--        </p>-->
<!--        <p>-->
<!--            it's too late. it's too late. it's too late.-->
<!--        </p>-->
<!--        <p>-->
<!--            it's too late. it's too late. it's too late.-->
<!--        </p>-->
    </div>
    <div class="listen_up">
        <p>"what are you doing?"</p>
    </div>
    <div class="where_are_you">
        <div class="column_wrapper">
            <div class="left_side">
                <h2>How to Use a Fillet Knife</h2>
                <p>
                    A fillet knife is a very sharp and dangerous tool used to cleanly and efficiently prepare a fish.

                </p>
            </div>
            <div class="right_side">
                <h2>How to Apply CPR</h2>
                <p>
                    CPR, or Cardiopulmonary Resuscitation, is an extremely important procedure that can
                    save lives. It involves repeated timely exertions on the subject's chest, to combat their
                    failing heart. It is used to help get the subject's heart to beat again.
                </p>

                <img src="../static/cpr.jpg" alt="cpr diagram">

                <p>
                    CPR is a critical skill that is often underestimated until needed to save a life.
                    It is easy to learn and there are many facilities that enable you to keep your CPR
                    skills sharp when a time it is needed arises.
                </p>

                <div class="please_dear_god_ignore">
                    <img src="../static/heart.jpg" alt="heart diagram" class="heart">
                    <img src="../static/compression.jpg" alt="compression diagram" class="compression">
                </div>

                <!-- cpr jpg found at:
                        https://my.clevelandclinic.org/health/articles/17680-cardiopulmonary-resuscitation-cpr -->
                <!-- heart jpg found at:
                        https://www.eemec.med.ed.ac.uk/wiki/wikinode.asp?id=14318&wiki=1271 -->
                <!-- compression jpg found at:
                        https://heart.bmj.com/content/104/13/1056 -->
            </div>
        </div>
    </div>
    <div class="do_not_listen">
        <p>"get away from me!"</p>
    </div>
</body>
</html>