<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>l</title>
    <meta name="author" content="Nate Lalor">
    <meta name="description" content="nate's website">
    <link rel="stylesheet" href="../static/style.css">
    <script
        src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap" rel="stylesheet">

</head>
<body class = "a_body">
<!--     <audio controls>-->
<!--        <source src="alyssa.mp3" type="audio/mpeg">-->
<!--        Your browser does not support the audio tag.-->
<!--     </audio> -->
    <div class = "a_final_goodbye">
        <h3>Transition</h3>
        <p>
            Incorporation of spirit is finite,
        </p>
        <p>
            Neither sublime nor crude will triumph.
        </p>
        <br>
        <p>
            The transitions between dawn and dusk
        </p>
        <p>
            Help carry out the image of mortality
        </p>
        <p>
            Even if the image is of itself.
        </p>
        <br>
        <p>
            Over the assumptions and expectations
        </p>
        <p>
            Comes what cannot be perceived,
        </p>
        <p>
            Enthralled by what's to come
        </p>
        <p>
            And not by how it happened.
        </p>
        <p>
            Never underestimate the yin to one's yang.
        </p>
    </div>
</body>
</html>